@font-face {
	font-family: 'HuiFontP109';
	src: url('../font/HuiFontP109.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#cocoa{
	--maincolor: #ff9999;
	font-family: 'HuiFontP109';
	font-size: 15pt;
}

h1{
	color: #d04255; /* 文字色 */
	font-size: 22pt;
	padding: 10px 10px 10px 40px; /* 上・右・下・左の余白 */
	margin-bottom: 30px;
	position: relative;
}
h1:before{
	content: '＊*'; /*花に見せかけるためのアスタリスク*/
	color: #fff; /* アスタリスクの色 */
	display: inline-block;
	font-size: 20pt; /* アスタリスクの大きさ */
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	text-shadow: 0px 0px 6px #EAA8BF, 0px 0px 4px #EAA8BF, 0 0 0.5px #EAA8BF; /* アスタリスク周りの影 */
}
h1:after{
	border-bottom: 2px dotted #EAA8BF; /* 下線 */
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}